### Spring Boot local configuration containing secrets ###
src/main/resources/application-local.properties
src/main/resources/application-*.local.properties
.env
.env.*

### Maven ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Logs ###
*.log
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Operating system files ###
.DS_Store
Thumbs.db
desktop.ini